html {
  box-sizing: border-box;
  margin-top: -15px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "TTLakes";
  font-style: normal;
  font-weight: 100;
  src: local("TTLakes-regular"), url("/fonts/TTLakes-Regular.woff");
  color: #7e7e82;
}

.header__title {
  font-family: TTLakes;
  font-size: 16;
  height: 60px;
  margin-left: 12px;
  color: #7e7e82;
  background: linear-gradient(to right, #f8f8f8, white);
}

body {
  margin: 0;
  padding: 0;
  font-family: "TT Lakes regular", "Arial", sans-serif;
  box-shadow: 0 -1px #d9fff5;
  background-color: #f8f8f8;
}

.wrapper {
  min-width: 320px;
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
}

.header__title {
  margin: 16px 0 0 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;

  text-transform: uppercase;
  box-sizing: border-box;
}

.card__container {
  margin-left: 16px;
  margin-top: 16px;
}

.cards-list {
  padding: 0;
  list-style: none;
  position: relative;
  left: -27px;
  top: -4px;
}

.card__item {
  flex-basis: 240px;
  height: 72px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  box-sizing: border-box;
  margin: 8px;
}

.card__item:first-of-type {
  margin-left: 0;
}

.card__link {
  display: inline-block;
  width: 100%;
  height: 72px;
  transition: opacity 0.3s;
}

.hidden {
  display: none;
}

.lenovo {
  background: url("/image/lenovo.svg"), url("/image/go.svg");
  background-position: 16px, 160px;
  background-repeat: no-repeat;
}

.samsung {
  background: url("/image/samsung.svg"), url("/image/go.svg");
  background-position: 16px, 160px;
  background-repeat: no-repeat;
}

.apple {
  background: url("/image/apple.svg"), url("/image/go.svg");

  background-position: 16px, 160px;
  background-repeat: no-repeat;
}

.viewSonic {
  background: url("/image/viewsonic.svg"), url("/image/go.svg");
  background-position: 16px, 160px;
  background-repeat: no-repeat;
}

.bosch {
  background: url("/image/bosch.svg"), url("/image/go.svg");
  background-position: 16px, 160px;
  background-repeat: no-repeat;
}

.hp {
  background: url("/image/hp.svg"), url("/image/go.svg");
  background-position: 16px, 160px;
  background-repeat: no-repeat;
}

.acer {
  background: url("/image/acer.svg"), url("/image/go.svg");
  background-position: 16px, 160px;
  background-repeat: no-repeat;
}

.sony {
  background: url("/image/sony.svg"), url("/image/go.svg");
  background-position: 16px, 160px;
  background-repeat: no-repeat;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
}

.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 12px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 12px)
  );
}

.change__btn {
  border: none;
  padding: 0;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  transition: opacity 0.3s;
  cursor: pointer;
  background-color: transparent;
  font-family: TTLakes;
}

.change__btn::before {
  content: "";
  background-image: url("./image/icon.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  margin-left: -5px;
  display: inline-block;
}

.show {
  display: none;
}

@media screen and (min-width: 768px) {
  .revert::before {
    content: "";
    transform: rotate(180deg);
  }

  .change__btn {
    display: flex;
    width: 133px;
  }

  .header__title {
    width: 100%;
  }

  .card__item {
    flex-basis: 222px;
    margin: 0;
  }

  .card__link {
    width: 222px;
  }

  .cards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 26px;
    position: static;
    max-width: 768px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1120px) {
  .card__item:nth-child(7),
  .card__item:nth-child(8) {
    display: block;
  }

  .card__item {
    flex-basis: 240px;
    margin: 0;
  }

  .card__link {
    width: 100%;
  }

  .cards-list {
    gap: 16px 32px;

    min-width: 1120px;
  }

  .card__container {
    margin-top: 15px;
  }
}
